body{
    background-image: url(../images/HeroImage.jpg);
    min-width: 340px; /* minimum width of the browser that wont allow it to shrink further*/
}

.container{
    background-color: rgb(167, 112, 36);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    margin: 40px auto;
}
li img{
    border-radius: 30px;
}
#loginButton{
    background-color: rgb(5, 94, 161);
    color: white;
    padding: 0.8rem;
    margin: 1rem;
    /* width: %; */
}
#forgotPassword{
    display: block;
    text-decoration: none;
    border-radius: 14px;
    background-color: transparent;
    color:rgb(17, 17, 203);
    font-size: 18px;
    
}
#registerLink{
    display: block;
    text-decoration: none;
    border: 1px solid green;
    border-radius: 18px;
    background-color: rgb(52, 157, 7);
    padding: 10px 5px;
    margin: 24px;
    width: 60%;
    position: relative;
    left:0;
    color:white;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
h2{
    color:  rgb(87, 77, 49);
    margin-top:3px;
    text-shadow: 1px 1px white;
    font-size: 30px;
}
#box1{
    margin-top: 1%;
}
#box2{
    margin-right: 10%;
    top:0rem;
    position: relative;
    /* left: 130px;    */
    color: rgb(8, 45, 75);
}

/*.passwordContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 100%; */
    /* flex-wrap: wrap;
    margin-right:  2.7%; */
/* } */
/* #forgotPassword{
    align-self:flex-start;
    position: absolute !important;
    margin-right: auto;
} */
/* .passwordContainer a{
    float: right;  *//*
    display: flex;
    justify-content: space-around;
    left: 70%;
    bottom: 1.2rem;
} */

 /* #password{
    margin-bottom:10 ;
 } */
  /* #forgotPassword{
        align-self:flex-start;
  } */
 