
body{
    background-image: url(../images/HeroImage.jpg);
    min-width: 330px;
}
#userLogo{
    position: relative;
    left: 40%;
}
ul{
    list-style-type: none;
}

.container{
    border-radius: 2px;
    margin: 12px auto;
    border: 2px ;
    width: 90%;
    max-width: 330px;
    background-color:  rgb(167, 112, 36);
    padding: 20px;
}
label{
    display: block;
    color:#34260c;
}
input{
    width: 70%;
    max-width: 270px;
    text-align: center;
    border: 0;
    background-color: rgb(157, 93, 33);
    border-radius: 20px;
    padding: 10px;
    margin: 4px 5px;
    color:white;
 }
/* input{
    display: block;
    margin: 2px 13px;
    width: 70%;
    max-width: 330px;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(157, 93, 33);
    padding: 13px;
    color: white;
} */ */


input::marker{
    border: 2px solid red;
}
input::placeholder{
    color:  rgb(65, 44, 44);
}
.genderContainer{
    display: flex;
    justify-content: space-around;
    position: relative;
    right:18px;
    padding: 0 12px;
}
#login{
    text-decoration: none;
    color:rgb(103, 189, 233);
    text-align: center;
    position: relative;
    left: 35px;
}
h2{
    text-align: center;
    color:  rgb(87, 77, 49);
}
form{
    margin: 0px auto;
    position: relative;
    left: 20px;
}
#register{
    background-color: rgb(91, 125, 184);
    margin: 20px 30px;
}